<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetworkTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <NetworkTool.Properties.Settings>
            <setting name="Boot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Link" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Shortcut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequestURL" serializeAs="String">
                <value />
            </setting>
            <setting name="RequestHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="RequestData" serializeAs="String">
                <value />
            </setting>
            <setting name="Corner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CornerRadius" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CampusHost" serializeAs="String">
                <value>10.0.251.18</value>
            </setting>
            <setting name="BaiduHost" serializeAs="String">
                <value>baidu.com</value>
            </setting>
        </NetworkTool.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="RequestURL" value=""/>
    <add key="RequestHeader" value=""/>
    <add key="RequestData" value=""/>
  </appSettings>
</configuration>
